{% load staticfiles %}<!-todo: site url-->
<div style="margin: 0px auto; width: 1200px;">
    <iframe style="float:right; margin:0 auto;" src="/static/js/ViewerJS/#../../../static/pdf/{{ Pdf.file }}"
            width='1200' height='800' allowfullscreen webkitallowfullscreen>

    </iframe>
</div>