{% verbatim %}
<div class="quotes-div" ng-if="sMenuCtrl.quote.img" style="margin:0 auto;background-image:url('/static/student/img/quotes/{{ sMenuCtrl.quote.img }}'); width:825px; height:89px; position:relative;">
    <span style="position:absolute; width:{{ sMenuCtrl.quote.width }}px; height:{{ sMenuCtrl.quote.height }}px; top:{{ sMenuCtrl.quote.top }}px; left:{{ sMenuCtrl.quote.left }}px; color:#{{ sMenuCtrl.quote.color }}; font-size:{{ sMenuCtrl.quote.size }}px;">
    {{sMenuCtrl.quote.text}}
    </span>
</div>
{% endverbatim %}