   {% verbatim %}
    <div id="menu">
        <div id="menu_list" class="lesson-item-list">
            <ul ng-repeat = "course in sCourseCtrl.courses">
                <li>
                    <a ui-sref="lessons({ courseId: course.id })">
                        <div class="left-side-study">&nbsp</div>
                        <div class="s-button lwhite login">
                            <span>{{course.name}}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endverbatim %}