{% verbatim %}
<div id="menu">
    <div id="groups_list">
        <ul ng-repeat = "group in sGroupCtrl.groups">
            <li>
            <a ui-sref="courses({groupId:group.id})"><!--todo: make better -->
                <h4>{{group.name}}</h4>
                <div ng-switch="group.image">
                  <img ng-switch-default src="/static/student/img/course_groups/{{ group.image }}">
                  <img ng-switch-when="null" src="/static/student/img/course_groups/null.png">
                </div>
            </a>
            </li>
        </ul>
    </div>
</div>
{% endverbatim %}