{% verbatim %}
    <div id="menu_list" class="lesson-item-list">
        <ul ng-repeat = "item in sItemsCtrl.items">
            <li ng-if="item.status=='passed'">
                <a href="{{ sItemsCtrl.getItemRoute(item) }}">
                    <div class="left-side-passed">&nbsp</div>
                    <div class="s-button lwhite login">
                        <span>{{ item.name }}</span>
                    </div>
                </a>
            </li>
            <li ng-if="item.status=='opened'">
                <a href="{{ sItemsCtrl.getItemRoute(item) }}">
                    <div class="left-side-{{ item.type }}">&nbsp</div>
                    <div class="s-button lwhite login">
                        <span>{{ item.name }}</span>
                    </div>
                </a>
            </li>
            <li ng-if="item.status=='closed'">
                <div class="left-side-closed">&nbsp</div>
                <div class="s-button lwhite login">
                    <span>{{ item.name }}</span>
                </div>
            </li>
        </ul>
    </div>
{% endverbatim %}

