{% verbatim %}
<div id="menu">
    <div id="menu_list" class="lesson-item-list">
        <ul ng-repeat = "lesson in sLessonCtrl.lessons">
             <li ng-if="lesson.status=='passed'">
                <a ui-sref="items({lessonId:lesson.id})">
                    <div class="left-side-passed">&nbsp</div>
                    <div class="s-button lwhite login">
                        <span>{{ lesson.name }}</span>
                    </div>
                </a>
            </li>
             <li ng-if="lesson.status=='opened'">
                <a ui-sref="items({lessonId:lesson.id})">
                    <div class="left-side-opened">&nbsp</div>
                    <div class="s-button lwhite login">
                        <span>{{ lesson.name }}</span>
                    </div>
                </a>
            </li>
            <li ng-if="lesson.status=='closed'">
                <div class="left-side-closed">&nbsp</div>
                <div class="s-button lwhite login">
                    <span>{{ lesson.name}}</span>
                </div>
            </li>
            <li style="display:none;">
                <a href="/student/course/certificate/">
                    <div class="left-side-certificate">&nbsp</div>
                    <div class="s-button lgreen login">
                        <span>Certificate</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endverbatim %}
