{% load staticfiles %}
<style>
    .error-middle{
        width:600px;
        text-align:center;
        margin:0 auto;
        padding: 200px 0 0 0;
    }
    .error-middle p{
        text-align: left;
        font: 12pt/10pt sans-serif;
        color: black;
        padding: 20px 0 0 0;
        line-height: 1.5;
    }
</style>
<div class="error-middle"><img src="{% static "public/img/errors/403.png" %}">
    </div>