{% load staticfiles %}
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
</head>
<style>
    .error-middle{
        width:600px;
        text-align:center;
        margin:0 auto;
        padding: 200px 0 0 0;
    }
    .error-middle p{
        text-align: left;
        font: 12pt/10pt sans-serif;
        color: black;
        padding: 20px 0 0 0;
        line-height: 1.5;
    }
</style>
<body>
<div id="page">
    <div class="error-middle"><img src="{% static "public/img/errors/404.png" %}">
    <p>Ошибки. Мы все их совершаем. Иногда кажется, что все правильно, окружающие поддерживают тебя и ты делаешь маленький шаг, не понимая, что это шаг в никуда. Мы — это наша память, наши друзья и поступки. Как жаль, что такие вещи понимаешь слишком поздно, когда небытие раскрывает свои бесконечные объятия...</p>
    </div>
</div>
</body>
</html>
