{% load staticfiles %}
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
</head>
<style>
    .error-middle{
        width:600px;
        text-align:center;
        margin:0 auto;
        padding: 200px 0 0 0;
    }
    .error-middle p{
        text-align: left;
        font: 12pt/10pt sans-serif;
        color: black;
        padding: 20px 0 0 0;
        line-height: 1.5;
    }
</style>
<body>
<div id="page">
    <div class="error-middle"><img src="{% static "public/img/errors/500.png" %}">
    <p>Ошибки сервере. Сейчас мы избиваем разработчиков. Как только мы закончим - они все починят.</p>
    </div>
</div>
</body>
</html>
