{% load staticfiles %}
<div class="container" id="content">
    <div id='student_page_menu' ui-view="menu">
        <!--div id='student_page_menu_right'>
            <div class="logout-block">
                <a href="/logout/">
                    <div class="left-side-logout">&nbsp</div>
                    <div class="s-button white login">
                        <span>{-{ user_name }-}</span>
                    </div>
                </a>
            </div>
        </div--->
    </div>
    <div ui-view="content"></div>
    <!--div class="page-header page-header-public"><h1>{% block pagetitle %}{% endblock %}</h1></div-->
</div>