/*Top student_page_menu*/
#student_page_menu{
    width:100%;
    height: 91px;
    clear: both;
    margin:0 auto 20px auto;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 1px;
}

#student_page_menu_logo{
    width: 100px;
    height: 30px;
    float: left;
}


#student_page_menu_right{
    width: 310px;
    height: 90px;
    float: right;
    clear: right;
    border: 1px solid black;
}
.logout-block{
    width: 174px;
    margin: 22px auto 0;
}
.top-menu-item{
    margin: 2px 0;
    position: relative;
}
/*.top-menu-item {
    height: 30px;
}*/
.top-menu-item a{
    display: block;
    position: relative;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    z-index: 10;
}


.quotes-div{
    float: left;
}

.page-header-public{
    clear: both;
    margin-top: 20px;
}

.c-username span{
    font-size: 20px;
}

#menu_list {
    position: relative;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

#menu_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu_list ul li {
    float: left;
    width: 446px;
    height: 40px;
    padding: 5px 0;
    margin: 10px;
}

#exam_start{
    position:relative;
    top:30px;
    margin:0 auto;
    width:446px;
}

#exam {
    height: 1000px;
    margin: 0 auto;
    top: 70px;
    position: relative;
}

.validation-error { // todo: better view
    clear: both;
    padding-top: 5px;
    font: 16px/1 MyriadPro-Regular, Arial;
    color: #ed1b24;
}

.exam_answer input[type=checkbox]:not(old),
.exam_answer input[type=radio   ]:not(old){
    display      : none;
}

.exam_answer input[type=checkbox]:not(old) + label,
.exam_answer input[type=radio   ]:not(old) + label{
  display      : inline-block;
  padding-left : 28px;
  background   : url('../img/exam/checks.png') no-repeat 0 0;
  line-height  : 24px;
    cursor: pointer;
}

.exam_answer input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

.exam_answer input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

.exam_question_text{
    margin: 10px 0;
    font-size: 20px;
}

#exam_question_submit_button{
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.c-exam-item-score{
    font-size:20px;
}

#exam_result_passed{
    font-size:20px;
}
#exam_result_passed.passedyes{
    color: green;
}
#exam_result_passed.passedno{
    color: red;
}
#exam_result_score{
   font-size:20px;
}

#exam_result_procent{
   font-size:20px;
}
/*breadcrumbs*/
.breadcrumbs{
    width:600px;
    height:30px;
    background-image: url('../img/backbg.png');
    background-repeat: no-repeat;
    margin: 10px 5px;
    position: relative;
}


.breadcrumbs span{
    height: 20px;
    padding: 2px 0 0 30px;
    color: #FFFFFF;
    font-size: 20px;
    width:240px;
    text-align: center;
}

.breadcrumbs a {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
#exam_question_answers{
    background-color: #f7f7f7;
}

#exam_question_question .exam_answer {
    padding: 5px;
}
#exam_question_question .exam_answer label{
    font-size:20px;
}