{% extends "basetemplate.html" %}
{% load staticfiles %}
{% block title %}Wellcome Tipe10{% endblock %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "public/css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "public/css/public.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "student/css/student-base.css" %}">
{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src='{% static "angular/angular-ui-router.js" %}' type="text/javascript"></script>
    <script src='{% static "angular/app.js" %}' type="text/javascript"></script>
    <script src='{% static "angular/app-student-module.js" %}' type="text/javascript"></script>
    <script src='{% static "angular/app-public-module.js" %}' type="text/javascript"></script>
    {{ block.super }}
{% endblock %}
{% block  content %}
    <ui-view></ui-view>
{% endblock %}
