{% load staticfiles %}
<html lang="en">
<head>
  <base href="/"/>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="en">
  <meta property="og:locale" content="en_EN"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="description" content="tipe10com">
  <meta name="keywords" content="Tipe10, Education">
  {% block style %}
      <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
  {% endblock %}
  {% block script %}
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <script src="{% static "public/js/jquery-2.2.2.min.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  {% endblock %}
  <link href='{% static "public/img/favicon.ico" %}' rel='shortcut icon' type='image/x-icon'>
  <title>{% block title %}Tipe10{% endblock %}</title>
</head>
<body ng-app="tipe10">
    {% block  content %}
    {% endblock %}
</body>
</html>
