body {
    background: url("../img/basebg.png") #c1c1c3 repeat;
}


/*buttons*/
.c-button {
    height: 40px;
    background-repeat: repeat-x;
    width: auto;
    position: relative;
    text-align: center;
}

.c-button span{
    position: absolute;
	top: 10px;
	left: 5px;
	width: 50%;
	height: 30%;
	margin: auto;
    font-size: 14px;
    font-weight: bold;
}

.c-button a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.c-button-before, .c-button-after{
    width: 26pc;
    height: 30px;
    background-repeat: no-repeat;
}

.c-button.red {
    background-image: url('../img/buttons/mr.png');
}

.c-button.green {
    background-image: url('../img/buttons/mg.png');
}

.c-button.yellow {
    background-image: url('../img/buttons/my.png');
}

.c-button.blue {
    background-image: url('../img/buttons/mb.png');
}

.c-button.dark {
    background-image: url('../img/buttons/md.png');
}

.c-button.white {
    background-image: url('../img/buttons/mw.png');
}
/*end button*/

/*Fullsize Button*/
.s-button {
    width: 128px;
    height: 40px;
    position: relative;
    text-align: center;
    float: right;
}

.s-button span{
    position: absolute;
	top: 0;
	left: 0;
    right:0;
    bottom: 0;
	height: 40%;
	margin: auto;
    font-size: 14px;
    font-weight: bold;
}

.left-side-passed{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-passed.png');
}
.left-side-opened{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-opened.png');
}
.left-side-closed{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-closed.png');
}
.left-side-login{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-login.png');
}

.left-side-register{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-register.png');
}

.left-side-logout{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-logout.png');
}

.left-side-study{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-study.png');
}

.left-side-hat{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-hat.png');
}

.left-side-pdf{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-pdf.png');
}

.left-side-video{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-video.png');
}

.left-side-page{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-page.png');
}

.left-side-exam{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-exam.png');
}
.left-side-certificate{
    height: 40px;
    width: 46px;
    float: left;
    background-image: url('../img/buttons/left-side-certificate.png');
}
.s-button.red {
    background-image: url('../img/buttons/sre.png');
}

.s-button.blue {
    background-image: url('../img/buttons/sbl.png');
}

.s-button.black {
    background-image: url('../img/buttons/sblack.png');
}

.s-button.white {
    background-image: url('../img/buttons/swi.png');
}

.s-button.lwhite {
    width: 400px;
    background-image: url('../img/buttons/slwi.png');
}

.s-button.lgreen {
    width: 400px;
    color: #000000;
    background-image: url('../img/buttons/slgr.png');
}

.s-button.lyellow {
    width: 400px;
    color: #6a0000;
    background-image: url('../img/buttons/slye.png');
}

.s-button.lred {
    width: 400px;
    color: #700000;
    background-image: url('../img/buttons/slre.png');
}

.s-button.purple {
    background-image: url('../img/buttons/spu.png');
}

.s-button.darkblue {
    background-image: url('../img/buttons/sdark.png');
}

.s-button.yellow {
    background-image: url('../img/buttons/sye.png');
}
/*End Fullsize Button*/


/* message */
#popupMessage{
    position:fixed;
    bottom:10px;
    left:0;
}
#popupMessage>li{
    margin: 1px 0;
    width: 450px;
    height: 100px;
    display: none;
}

#popupMessage>li.infoMessage{
    background-color:#5ED0BD;
}

#popupMessage>li.errorMessage{
    background-color:#6899D3;
}

#popupMessage>li.successMessage{
    background-color:#FFC973;
}

.c-popupLeftImage {
    width:100px;
    vertical-align: middle;
    text-align: center;
}
.c-popupLef10tImage img{
    width:70px;
}
.c-popupTitle{
    height: 25px;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    width: 350px;
    text-transform:uppercase;
}
.c-popupText{
    height: 75px;
    font-size: 14px;
    vertical-align: top;
    padding: 15px 5px 5px 5px;
    width: 350px;
}
/* message end*/

/* forms */
.ng-invalid.ng-dirty{
    border-color: #FA787E;
}

.ng-valid.ng-dirty{
    border-color: #78FA89;
}
/* forms end */