
/*Top public_page_menu*/
#public_page_menu{
    width:100%;
    height: 100px;
    clear: both;
}

#public_page_menu_logo{
    width: 210px;
    height: 100%;
    float: left;
    cursor: pointer;
}


/*main page*/
#main_page {
    text-align: center;
    width: 100%;
    padding-top: 200px;
}

#main_page table {
    margin: 0 auto;
    width: 1200px;
}

#main_page_menu {
    width: 100%;
    position: absolute;
    top: 20px;
    height: 40px;
}

#main_page_menu_left {
    position: absolute;
    left: 20px;
    top: 15px;
}

#main_page_menu_left img, #main_page_menu_right img {
    height: 40px
}

#main_page_menu_right {
    position: absolute;
    right: 20px;
    top: 15px;
}

#main_page_menu_middle {
    width: 208px;
    margin: 0 auto;
}
#main_page_menu_middle td img{
    width: 208px;
}
/*end main page*/

#public_page_menu_right{
    float: right;
}

.top-menu-item{
    display: inline-block;
    margin: 2px 0;
    position: relative;
    cursor:pointer;
}

.top-menu-item a{
    display: block;
    position: relative;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    z-index: 10;
}
