{% load staticfiles %}
<div id='public_page_menu'>
    <div id='public_page_menu_logo' ui-sref="public">
        <img src="{% static "public/img/front/tipe.png" %}">
    </div>
    <div id='public_page_menu_right'>
        <div class="top-menu-item">
            <a ui-sref="login">
                <div class="left-side-login">&nbsp</div>
                <div class="s-button white login">
                    <span>Login</span>
                </div>
            </a>
        </div>
        <br/>
        <div class="top-menu-item">
            <a ui-sref="register">
                <div class="left-side-register">&nbsp</div>
                <div class="s-button white">
                    <span>Register</span>
                </div>
             </a>
        </div>
    </div>
</div>
<div class="container" id="content" ui-view="content" style="clear: both;">
</div>