{% load staticfiles %}
<div class="panel panel-default">
  <div class="panel-heading">Login</div>
  <div class="panel-body">
    <form name="loginForm" ng-controller="LoginController as lgCtrl" ng-submit="loginForm.$valid && lgCtrl.loginUser()" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text"  ng-minlength="3" ng-maxlength="100" name="username" class="form-control" id="username" ng-model="lgCtrl.userCredentials.username" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" ng-minlength="6" ng-maxlength="100"   name="password" class="form-control" id="pwd" ng-model="lgCtrl.userCredentials.password" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
