{% load staticfiles %}
<div class="panel panel-default">
  <div class="panel-heading">Register</div>
  <div class="panel-body">
    <form name="registerForm" ng-controller="RegisterController as rgCtrl" ng-submit="registerForm.$valid && rgCtrl.registerUser()" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" ng-minlength="3" ng-maxlength="100" name="username" class="form-control" id="username" ng-model="rgCtrl.userCredentials.username" required>
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" ng-minlength="3" ng-maxlength="100"  name="email" class="form-control" id="email" ng-model="rgCtrl.userCredentials.email" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" ng-minlength="6" ng-maxlength="100" name="password" class="form-control" id="pwd" ng-model="rgCtrl.userCredentials.password" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
