{% load staticfiles %}
<head>
	<title>
		Достижения
	</title>
</head>
<style>
	@font-face {
    font-family: dollar; /* имя шрифта для CSS правил */
    src: local("dollar"), /* проверяем наличие шрифта в ОС пользователя */
         url({% static "font/dollar.TTF" %}); /* если шрифт не установлен, тогда загружаем его по указанному пути */
	}

	.opened{
		background:#D7C8C6;
	}
	.disabled{
		background:#4A4342;
	}
	#achievement td div{
		float:left;
		padding:7px 0 7px 7px;
	}
	p{
		margin:0;
		padding:0;
	}
	#achievement td div img{
		width:30px;
		height:30px;
	}
	.opened .title{
		font:bold 14px arial;
		text-align:center;
	}
	.disabled .title{
		font:bold 14px arial;
		text-align:center;
		color:white;
	}
	.content{
		padding:0 0 0 50px;
		font:bold 11px arial;
		
	}
	.disabled .content{
		color:white;
	}
</style>
<body style='width:100%'>
	<div style='width:100%;text-align:center;'>
		<div style='margin:0 auto;width:1024px;'>
			<table style='width:100%' id='achievement'>
			<th colspan='2' style='background:silver'>
				<p style='font: italic 30px arial;'>Достижения</p>
			</th>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/all_cit_a.png" %}">
					</div>
					<p class='title'>Цитатник</p>				
					<p class='content'>Открыть все цитаты</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/all_cit.png" %}">
					</div>
					<p class='title'>Цитатник</p>
					<p class='content'>Открыть все цитаты</p>
				</td>
			</tr>
			<tr>
				<td class="opened" %}">
					<div>
						<img src="{% static "img/achievement/make_first_a.png" %}">
					</div>
					<p class='title'>Гагарин</p>
					<p class='content'>Выполнить первое задание</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/make_first.png" %}">
					</div>
					<p class='title'>Гагарин</p>
					<p class='content'>Выполнить первое задание</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/25_a.png" %}">
					</div><p class='title'>Четвертак</p>
					<p class='content'>Закончить 25 уроков</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/25.png" %}">
					</div><p class='title'>Четвертак</p>
					<p class='content'>Закончить 25 уроков</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/50_a.png" %}">
					</div><p class='title'>Полтиник</p>
					<p class='content'>Закончить 50 уроков
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/50.png" %}">
					</div><p class='title'>Полтиник</p>
					<p class='content'>Закончить 50 уроков
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/100_a.png" %}">
					</div><p class='title'>FINISH</p>
					<p class='content'>Закончить 100 уроков</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/100.png" %}">
					</div><p class='title'>FINISH</p>
					<p class='content'>Закончить 100 уроков</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/yolly_a.png" %}">
					</div><p class='title'>Найти Уолли</p>
					<p class='content'>Вы нашли Уолли</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/yolly.png" %}">
					</div><p class='title'>Найти Уолли</p>
					<p class='content'>Найти Уолли[1/4]</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/combo_five_a.png" %}">
					</div><p class='title'>КОМБО</p>
					<p class='content'>Выполнить пять упражнений подряд без ошибок</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/combo_five.png" %}">
					</div><p class='title'>КОМБО</p>
					<p class='content'>Выполнить пять упражнений подряд без ошибок</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/commics_a.png" %}">
					</div>
					<p class='title'>Сomic Сon</p>
					<p class='content'>Разблокировать все цитаты из коммиксов</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/commics.png" %}">
					</div><p class='title'>Сomic Сon</p>
					<p class='content'>Разблокировать все цитаты из коммиксов</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/mult_a.png" %}">
					</div><p class='title'>Они не реальны</p>
					<p class='content'>Разблокировать все цитаты из мультфильмов
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/mult.png" %}">
					</div><p class='title'>Они не реальны</p>
					<p class='content'>Разблокировать все цитаты из мультфильмов
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/movie_a.png" %}">
					</div><p class='title'>Мотор!</p>
					<p class='content'>Разблокировать все цитаты из фильмов</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/movie.png" %}">
					</div><p class='title'>Мотор!</p>
					<p class='content'>Разблокировать все цитаты из фильмов</p>
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/book_a.png" %}">
					</div><p class='title'>Книжный червь</p>
					<p class='content'>Открыть все цитаты из книг
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/book.png" %}">
					</div><p class='title'>Книжный червь</p>
					<p class='content'>Открыть все цитаты из книг
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/game_a.png" %}">
					</div><p class='title'>Game Over</p>
					<p class='content'>Открыть все цитаты из игр
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/game.png" %}">
					</div><p class='title'>Game Over</p>
					<p class='content'>Открыть все цитаты из игр
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/current_a.png" %}">
					</div><p class='title'>Ctrl+C, Ctrl+V</p>
					<p class='content'>Открыть все цитаты из книг современных писателей
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/current.png" %}">
					</div><p class='title'>Ctrl+C, Ctrl+V</p>
					<p class='content'>Открыть все цитаты из книг современных писателей
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/classic_a.png" %}">
					</div><p class='title'>Из под пера</p>
					<p class='content'>Открыть все цитаты классиков
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/classic.png" %}">
					</div><p class='title'>Из под пера</p>
					<p class='content'>Открыть все цитаты классиков
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/librarian_a.png" %}">
					</div><p class='title'>Not the monkey</p>
					<p class='content'>Выслушать мудрый совет библиотекаря(Ук-Ук Ук Ук-Ук)
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/librarian.png" %}">
					</div><p class='title'>Not the monkey</p>
					<p class='content'>Выслушать мудрый совет библиотекаря
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/justice_a.png" %}">
					</div><p class='title'>Атом справедливости</p>
					<p class='content'>Узнать есть ли справедливость
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/justice.png" %}">
					</div><p class='title'>Атом справедливости</p>
					<p class='content'>Узнать есть ли справедливость
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/ufo_a.png" %}">
					</div><p class='title'>WE COME WITH PEACE</p>
					<p class='content'>Увидеть НЛО
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/ufo.png" %}">
					</div><p class='title'>WE COME WITH PEACE</p>
					<p class='content'>Увидеть НЛО
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/best_a.png" %}">
					</div><p class='title'>GFROG</p>
					<p class='content'>Увидеть самую лучшую цитату
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/best.png" %}">
					</div><p class='title'>GFROG</p>
					<p class='content'>Увидеть самую лучшую цитату
					</p>
				</td>
			</tr>			
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/error10_a.png" %}">
					</div><p class='title'>Ай</p>
					<p class='content'>Совершить 10 опечаток
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/error10.png" %}">
					</div><p class='title'>Ай</p>
					<p class='content'>Совершить 10 опечаток
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/error100_a.png" %}">
					</div><p class='title'>Ой-ёй</p>
					<p class='content'>Совершить 100 опечаток
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/error100.png" %}">
					</div><p class='title'>Ой-ёй</p>
					<p class='content'>Совершить 100 опечаток
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/error1000_a.png" %}">
					</div><p class='title'>Ой-ёй-ёй</p>
					<p class='content'>Совершить 1000 опечаток
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/error1000.png" %}">
					</div><p class='title'>Ой-ёй-ёй</p>
					<p class='content'>Совершить 1000 опечаток
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/finish_a.png" %}">
					</div><p class='title'>Выпускник</p>
					<p class='content'>Закончить курс обучения
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/finish.png" %}">
					</div><p class='title'>Выпускник</p>
					<p class='content'>Закончить курс обучения
					</p>
				</td>
			</tr>
			
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/100words_a.png" %}">
					</div><p class='title'>Мудрец</p>
					<p class='content'>Увидеть 100 цитат
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/100words.png" %}">
					</div><p class='title'>Мудрец</p>
					<p class='content'>Увидеть 100 цитат
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/open100_a.png" %}">
					</div><p class='title'>Исследователь</p>
					<p class='content'>Открыть 100 цитат
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/open100.png" %}">
					</div><p class='title'>Исследователь</p>
					<p class='content'>Открыть 100 цитат
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/5min_a.png" %}">
					</div><p class='title'>Fast and Furious</p>
					<p class='content'>Успеть за 5 минут
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/5min.png" %}">
					</div><p class='title'>Fast and Furious</p>
					<p class='content'>Успеть за 5 минут
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/manhatan_a.png" %}">
					</div><p class='title'>Марко Поло</p>
					<p class='content'>Найти Доктора Манхетен
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/manhatan.png" %}">
					</div><p class='title'>Марко Поло</p>
					<p class='content'>Найти Доктора Манхетен
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/launching_a.png" %}">
					</div><p class='title'>Кто смеется последним?</p>
					<p class='content'>Найти смеющегося человека
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/launching.png" %}">
					</div><p class='title'>Кто смеется последним?</p>
					<p class='content'>Найти смеющегося человека
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/vk_a.png" %}">
					</div><p class='title'>Есть контакт</p>
					<p class='content'>Поделится успехами с контактом
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/vk.png" %}">
					</div><p class='title'>Есть контакт</p>
					<p class='content'>Поделится успехами с контактом
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/fb_a.png" %}">
					</div><p class='title'>И целого мира мало</p>
					<p class='content'>Поделится успехами с facebook
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/fb.png" %}">
					</div><p class='title'>И целого мира мало</p>
					<p class='content'>Поделится успехами с facebook
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/own_a.png" %}">
					</div><p class='title'>+1</p>
					<p class='content'>Пройти собственное задание
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/own.png" %}">
					</div><p class='title'>+1</p>
					<p class='content'>Пройти собственное задание
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/10000_a.png" %}">
					</div><p class='title'>Жми больше!</p>
					<p class='content'>Набрать 10000 символов
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/10000.png" %}">
					</div><p class='title'>Жми больше!</p>
					<p class='content'>Набрать 10000 символов[1000/10000]
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/bi_a.png" %}">
					</div><p class='title'>Ы-man</p>
					<p class='content'>Набрать букву 'ы' 100 раз
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/bi.png" %}">
					</div><p class='title'>Ы-man</p>
					<p class='content'>Набрать букву 'ы' 100 раз
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/cat_a.png" %}">
					</div><p class='title'>Hello Kitty</p>
					<p class='content'>Найти всех котиков
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/cat.png" %}">
					</div><p class='title'>Hello Kitty</p>
					<p class='content'>Найти всех котиков[0/25]
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/300_a.png" %}">
					</div><p class='title'>Back in Time</p>
					<p class='content'>Провести за тренировкой 300 минут
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/300.png" %}">
					</div><p class='title'>Back in Time</p>
					<p class='content'>Провести за тренировкой 300 минут
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/8ach_a.png" %}">
					</div><p class='title'>Янтарь</p>
					<p class='content'>Пройти бонусное задание
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/8ach.png" %}">
					</div><p class='title'>Янтарь</p>
					<p class='content'>Пройти бонусное задание
					</p>
				</td>
			</tr>
				<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/16ach_a.png" %}">
					</div><p class='title'>Аметист</p>
					<p class='content'>Пройти бонусное задание
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/16ach.png" %}">
					</div><p class='title'>Аметист</p>
					<p class='content'>Пройти бонусное задание
					</p>
				</td>
			</tr>
				<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/24ach_a.png" %}">
					</div><p class='title'>Сапфир</p>
					<p class='content'>Пройти бонусное задание
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/24ach.png" %}">
					</div><p class='title'>Сапфир</p>
					<p class='content'>Пройти бонусное задание
					</p>
				</td>
			</tr>
				<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/32ach_a.png" %}">
					</div><p class='title'>Гранат</p>
					<p class='content'>Пройти бонусное задание
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/32ach.png" %}">
					</div><p class='title'>Гранат</p>
					<p class='content'>Пройти бонусное задание
					</p>
				</td>
			</tr>
				<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/40ach_a.png" %}">
					</div><p class='title'>Рубин</p>
					<p class='content'>Пройти бонусное задание
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/40ach.png" %}">
					</div><p class='title'>Рубин</p>
					<p class='content'>Пройти бонусное задание
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/victory_a.png" %}">
					</div><p class='title'>We are the champions</p>
					<p class='content'>Ответить правильно на все вопросы викторины
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/victory.png" %}">
					</div><p class='title'>We are the champions</p>
					<p class='content'>Ответить правильно на все вопросы викторины
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/lang_a.png" %}">
					</div><p class='title'>Eat Time</p>
					<p class='content'>Запустить Ланлгольера
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/lang.png" %}">
					</div><p class='title'>Eat Time</p>
					<p class='content'>Запустить Ланлгольера
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/foto_a.png" %}">
					</div><p class='title'>Улыбочку</p>
					<p class='content'>Сделать фото на память
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/foto.png" %}">
					</div><p class='title'>Улыбочку</p>
					<p class='content'>Сделать фото на память
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/sfincs_a.png" %}">
					</div><p class='title'>Вопрос</p>
					<p class='content'>Ответить на вопрос сфинкса
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/sfincs.png" %}">
					</div><p class='title'>Вопрос</p>
					<p class='content'>Ответить на вопрос сфинкса
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/ghost_a.png" %}">
					</div><p class='title'>I'm not afraid any ghost</p>
					<p class='content'>Поймать всех приведений
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/ghost.png" %}">
					</div><p class='title'>I'm not afraid any ghost</p>
					<p class='content'>Поймать всех приведений
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/game_pill_a.png" %}">
					</div><p class='title'>I want to play</p>
					<p class='content'>Играем вместе с пилой(абстрактные задачи)
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/game_pill.png" %}">
					</div><p class='title'>I want to play</p>
					<p class='content'>Играем вместе с пилой
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/unlock_a.png" %}">
					</div><p class='title'>Медвежатник</p>
					<p class='content'>Разблокировать весь дополнительный контент
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/unlock.png" %}">
					</div><p class='title'>Медвежатник</p>
					<p class='content'>Разблокировать весь дополнительный контент
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/what_a.png" %}">
					</div><p class='title'>Ответ</p>
					<p class='content'>Какой ответ на "Главный вопрос жизни, Вселенной и всего такого"?
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/what.png" %}">
					</div><p class='title'>Ответ</p>
					<p class='content'>Какой ответ на "Главный вопрос жизни, Вселенной и всего такого"?
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/not_a.png" %}">
					</div><p class='title'>Потанцуем</p>
					<p class='content'>Разблокировать всю музыку
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/not.png" %}">
					</div><p class='title'>Потанцуем</p>
					<p class='content'>Разблокировать всю музыку
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/bas_a.png" %}">
					</div><p class='title'>Художник что рисует?</p>
					<p class='content'>Разблокировать все изображения
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/bas.png" %}">
					</div><p class='title'>Художник что рисует?</p>
					<p class='content'>Разблокировать все изображения
					</p>
				</td>
			</tr>
			<tr>
				<td class="opened">
					<div>
						<img src="{% static "img/achievement/allach_a.png" %}">
					</div><p class='title'>Celebrate</p>
					<p class='content'>Открыть все достижения
					</p>
				</td>
				<td class="disabled">
					<div>
						<img src="{% static "img/achievement/allach.png" %}">
					</div><p class='title'>Celebrate</p>
					<p class='content'>Открыть все достижения[0/49]
					</p>
				</td>
			</tr>
			</table>
		</div><p class='title'></p>
	</div><p class='title'></p>
</body>