<div>
     <div class="cert_logo1"><img id="logoimg" src="{% static "img/certificate/logo.png" %}"></div>
     <div class="cert_title1"><img id="logoimg" src="{% static "img/certificate/title.png" %}"></div>
     <div class="cert_username1">Выдан <i>{{user_name}}</i></div>
     <div class="cert_description1">В том, что <i>{{date}}</i> числа он завершил прохождение курса <i>"{{course.name}}"</i></div>
     <div class="cert_organisation1">Выдан сервисом tipe10</div>
</div>
